<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>جستجوی پروژه‌های PWA</title>
    <!--[if lt IE 9]>
    <script src="/_layouts/15/Sazmanyar.GIS/Filter/JS/html5shiv.js"></script>
    <script src="/_layouts/15/Sazmanyar.GIS/Filter/JS/respond.min.js"></script>
    <![endif]-->
    <link href="/_layouts/15/Sazmanyar.GIS/Filter/css/bootstrap.min.css" rel="stylesheet">
    <link href="/_layouts/15/Sazmanyar.GIS/Filter/css/bootstrap-datepicker.fa.css" rel="stylesheet">
    <link href="/_layouts/15/Sazmanyar.GIS/Filter/css/bootstrap-slider.min.css" rel="stylesheet">
    <link href="/_layouts/15/Sazmanyar.GIS/Filter/css/selectize.default.css" rel="stylesheet">
    <link href="/_layouts/15/Sazmanyar.GIS/Filter/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/_layouts/15/Sazmanyar.GIS/Filter/css/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="/_layouts/15/Sazmanyar.GIS/Filter/css/query-builder.default.min.css" rel="stylesheet">
    <script>var gisNoCache = '?nc=' + new Date().getTime();</script>
    <!-- فایل‌های خودمان همیشه با مهر زمانی بارگذاری می‌شوند تا هیچ‌وقت از کش مرورگر نیایند؛ کتابخانه‌ها کش می‌مانند -->
    <script>document.write('<link href="/_layouts/15/Sazmanyar.GIS/Filter/css/gis-filter.css' + gisNoCache + '" rel="stylesheet">');</script>
    <script src="/_layouts/15/Sazmanyar.GIS/Filter/JS/jquery-1.11.2.min.js"></script>
    <script src="/_layouts/15/Sazmanyar.GIS/Filter/JS/bootstrap.min.js"></script>
</head>
<body>
    <div class="gis-filter-page">
        <div class="gis-filter-card">
            <div class="gis-filter-head">
                <h1 class="gis-filter-title">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 21s7-6.2 7-11a7 7 0 1 0-14 0c0 4.8 7 11 7 11z" /><circle cx="12" cy="10" r="2.5" /></svg>
                    تنظیمات جستجوی پروژه‌ها
                </h1>
                <div class="gis-filter-actions">
                    <button id="btn-Search" class="btn btn-primary" data-target="widgets" title="اعمال شرط‌ها و نمایش نتیجه روی نقشه">جستجوی اطلاعات</button>
                    <button id="btn-set" class="btn btn-default" data-target="widgets" title="بازگرداندن شرط‌هایی که آخرین بار اعمال شده‌اند">پیش فرض شرایط</button>
                    <button id="btn-reset" class="btn btn-danger-soft" data-target="widgets" title="پاک کردن همهٔ شرط‌ها">حذف شرایط</button>
                </div>
            </div>
            <div class="gis-filter-body">
                <div id="builder-widgets"></div>
            </div>
            <div class="gis-filter-hint">
                شرط‌ها را با «و / یا» ترکیب کنید؛ با «افزودن مجموعه شرط» می‌توانید پرانتز بسازید. شرط‌ها روی فیلترهای «نوع پروژه» و «منطقه پروژه» بالای نقشه اضافه می‌شوند. در پایان «جستجوی اطلاعات» را بزنید.
            </div>
        </div>
    </div>
    <script src="/_layouts/15/Sazmanyar.GIS/Filter/JS/moment.min.js"></script>
    <script src="/_layouts/15/Sazmanyar.GIS/Filter/JS/bootstrap-datepicker.fa.min.js"></script>
    <script src="/_layouts/15/Sazmanyar.GIS/Filter/JS/bootstrap-datepicker.persian.min.js"></script>
    <script src="/_layouts/15/Sazmanyar.GIS/Filter/JS/bootstrap-slider.min.js"></script>
    <script src="/_layouts/15/Sazmanyar.GIS/Filter/JS/selectize.min.js"></script>
    <script src="/_layouts/15/Sazmanyar.GIS/Filter/JS/bootstrap-select.min.js"></script>
    <script src="/_layouts/15/Sazmanyar.GIS/Filter/JS/query-builder.standalone1.js"></script>
    <script src="/_layouts/15/Sazmanyar.GIS/Filter/JS/sql-parser.js"></script>
    <script>document.write('<scr' + 'ipt src="/_layouts/15/Sazmanyar.GIS/Filter/JS/gis-filter.js' + gisNoCache + '" charset="utf-8"></scr' + 'ipt>');</script>
    <script>document.write('<scr' + 'ipt src="/_layouts/15/Sazmanyar.GIS/Filter/JS/demo_widgetsProject.js' + gisNoCache + '" charset="utf-8"></scr' + 'ipt>');</script>
</body>
</html>
